.topbar {
  height: var(--header-height);
  background-color: #fff;
  opacity: 0.95;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 30;
  transition: transform 0.3s ease;
}

.topbar.hidden {
  transform: translateY(-100%);
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.hamburger {
  width: 30px;
  aspect-ratio: 1/1;
  padding: 5px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger:hover {
  cursor: pointer;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: var(--dark-color);
}

.hamburger,
.logo {
  display: none;
}

.right > button {
  width: 40px;
  aspect-ratio: 1/1;
  /* padding: 5px; */
  border-radius: 50%;
  color: #000;
  background-color: var(--neutral-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 15px;
}

.right > button:hover {
  background-color: var(--dark-color);
  color: #fff;
  cursor: pointer;
}

.btn-dark-mode {
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  /* aspect-ratio: 1/1; */
  font-size: 8px;
  color: #fff;
  background-color: var(--dark-color);
  /* padding: 5px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-popup {
  position: absolute;
  top: 120%;
  right: 50px;
  width: 300px;
  color: var(--dark-color);
  box-shadow: 0px 0px 10px 1px #999;
  border-radius: 8px;
  background-color: #fff;
  display: none;
}

.popup-title,
.popup-option {
  border-bottom: 2px solid var(--neutral-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-title {
  border-radius: 8px 8px 0 0;
  padding: 1rem 2rem;
}

.popup-option {
  border-radius: 0 0 8px 8px;
  padding: 1.5rem 2rem;
}

.popup-option:hover {
  background-color: var(--neutral-color);
  cursor: pointer;
}

.toggle-dark-mode {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.circle {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .hamburger,
  .logo {
    display: flex;
  }
}
